// Cool Div Official Style Guide Variables

// colors
$color-peach: #ffcccc;
$color-sky: #b3ecff;
$color-leaf: #90e290;
$color-primary-copy: #333333;

// dimensions
$width-regular: 300px;
$width-slim: 200px;

$height-regular: 100px;
$height-slim: 50px;

$border-radius-default: 5px;
